@import "./content/main.css";
@import "./content/left-selector.css";
@import "./content/right-selector.css";


.content {
	display: flex;
}

.content-main {
	width: 1270.2px;
	height: 589.06px;
	display: flex;
	overflow-y: visible;
}

.content-main-wraper {
	width: 1270.2px;
	height: 730px;
}

.slider-wraper {
	height: 750px;
	width: 1270.2px;
	display: flex;
	overflow-y: visible;
}

.slider-active .slide-wraper {
	position: relative;
	height: 750px;
}

.slider-active {
	width: 1222px;
}