.menu {
	height: 10%;
	width: 87.7%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu div img {
	height: 26px;
	width: 68px;
}

.menu div i {
	color: rgb(197, 196, 198);
	font-size: 20px;
}

.menu div:nth-of-type(3) {
	font-size: 15px;
	color: rgb(106, 105, 112);
}