.hero-surname {
	margin-right: auto;
	font-size: 147px;
    font-weight: 600;
    color: rgb(224, 61, 36);
    margin-top: 50px;
}

.america {
    letter-spacing: 15px;
}

.some-text {
	letter-spacing: 1px;
	display: flex;
    width: 250px;
    align-items: center;
    color: rgb(119, 119, 123);
    justify-content: space-between;
}

.some-text--dot {
	height: 3px;
	width: 3px;
	background-color: rgb(140, 140, 143);
}

.some-text--arrow {
    display: flex;
}