.white-wrap {
	height: 80%;
	width: 64%;
	margin: auto;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.red-line {
	height: 2px;
	width: 60px;
	background-color: rgb(228, 65, 40);
}

.hero-name {
    font-size: 147px;
    font-weight: 600;
    letter-spacing: 24px;
    color: rgb(224, 61, 36);
    margin-bottom: 100px;
}
.hero-name__spider-man {
	font-size: 147px;
    font-weight: 600;
    color: rgb(224, 61, 36);
    margin-bottom: 100px;
}
.hero-name__cap {
	font-size: 147px;
    font-weight: 600;
    color: rgb(224, 61, 36);
    margin-bottom: 100px;
}

.hero-count {
	color: rgb(176, 175, 180);
}

.active-number-large {
	font-size: 2em;
	color: rgb(67, 66, 74);
}

.hero-line {
	border: 1px solid rgb(214, 213, 219);
}