@import "./sheets/white-sheet.css";
@import "./sheets/black-sheet.css";

.sheet {
	height: 100%;
}

.white {
	width: 40%;
	background: rgb(247, 247, 251);
	display: flex;
}

.black {
	width: 60%;
	display: flex;
}